# Does the same as */build etc.
.env
/playwright-report/
/playwright/.cache/
/test-results/
backend/coverage
backend/files/timestamp-commit
backend/public/
backend/.adminjs
build
deploy
node_modules
test-results/
docker_deploy/.backend-env
docker_deploy/.proxy-env
docker_deploy/db/init.sql
